<%= form_with(model: artist) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
        <% artist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.select :genre, @genre_choices %>
  </div>

  <div class="field">
    <%= form.label :subgenre1 %>
    <%= form.select :subgenre1, @subgenre_choices %>
  </div>

  <div class="field">
    <%= form.label :subgenre2 %>
    <%= form.select :subgenre2, @subgenre_choices %>
  </div>

  <div class="field">
    <%= form.label :subgenre3 %>
    <%= form.select :subgenre3, @subgenre_choices %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.select :priority, @priority_choices, selected: @artist.priority || 'Current' %>
  </div>

  <div class="field">
    <%= form.label :pop_list %>
    <%= form.select :pop_list, @status_choices, selected: @artist.pop_list || 'Active' %>
  </div>

  <div class="field">
    <%= form.label :greatest_list %>
    <%= form.select :greatest_list, @status_choices, selected: @artist.greatest_list || 'Unexplored' %>
  </div>

  <div class="field">
    <%= form.label :album %>
    <%= form.select :album, @status_choices, selected: @artist.album || 'Unexplored' %>
  </div>

  <div class="field">
    <%= form.label :current_album %>
    <%= form.text_field :current_album %>
  </div>

  <div class="field">
    <%= form.label :current_song %>
    <%= form.text_field :current_song %>
  </div>

  <div class="field">
    <%= form.label :to_download %>
    <%= form.select :to_download, @to_download_choices, selected: @artist.to_download || 'Unexplored' %>
  </div>

  <div class="field">
    <%= form.label :download_type %>
    <%= form.select :download_type, @download_type, selected: @artist.download_type || 'Not Set' %>
  </div>

  <div class="field">
    <%= form.label :download_status %>
    <%= form.select :download_status, @download_status, selected: @artist.download_status || 'Not Started' %>
  </div>

  <div class="field">
    <%= form.label :current_download %>
    <%= form.text_field :current_download %>
  </div>

  <div class="field">
    <%= form.label :download_date %>
    <%= form.date_field :download_date, as: :date, value: form.object.try(:strftime,"%m/%d/%Y") %>
  </div>

  <div class="field">
    <%= form.label :wiki_page %>
    <%= form.text_field :wiki_page %>
  </div>
  
  <div class="field">
    <%= form.label :discogs_page %>
    <%= form.text_field :discogs_page %>
  </div>

  <div class="field">
    <%= form.label :dl_listen_album %>
    <%= form.text_field :dl_listen_album %>
  </div>

  <div class="field">
    <%= form.label :dl_listen_song %>
    <%= form.text_field :dl_listen_song %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
