<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @artist.genre %>
</p>

<p>
  <strong>Subgenre1:</strong>
  <%= @artist.subgenre1 %>
</p>

<p>
  <strong>Subgenre2:</strong>
  <%= @artist.subgenre2 %>
</p>

<p>
  <strong>Subgenre3:</strong>
  <%= @artist.subgenre3 %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @artist.priority %>
</p>

<p>
  <strong>Pop list:</strong>
  <%= @artist.pop_list %>
</p>

<p>
  <strong>Greatest list:</strong>
  <%= @artist.greatest_list %>
</p>

<p>
  <strong>Album:</strong>
  <%= @artist.album %>
</p>

<p>
  <strong>Current album:</strong>
  <%= @artist.current_album %>
</p>

<p>
  <strong>Current song:</strong>
  <%= @artist.current_song %>
</p>

<p>
  <strong>To download:</strong>
  <%= @artist.to_download %>
</p>

<p>
  <strong>Download type:</strong>
  <%= @artist.download_type %>
</p>

<p>
  <strong>Download status:</strong>
  <%= @artist.download_status %>
</p>

<p>
  <strong>Current download:</strong>
  <%= @artist.current_download %>
</p>

<p>
  <strong>Download date:</strong>
  <%= @artist.download_date %>
</p>

<p>
  <%= link_to "Wikipedia Discography", @artist.wiki_page %>
</p>

<p>
  <%= link_to "Discogs Discography", @artist.discogs_page %>
</p>

<p>
  <strong>Download listening album:</strong>
  <%= @artist.dl_listen_album %>
</p>

<p>
  <strong>Download listening song:</strong>
  <%= @artist.dl_listen_song %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %> | 
<%= link_to 'Home', root_path %>
