<%= form_with(model: annual_rank) do |form| %>
  <% if annual_rank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annual_rank.errors.count, "error") %> prohibited this annual_rank from being saved:</h2>

      <ul>
        <% annual_rank.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type, 'Rank Type' %>
    <%= form.select :type, options_for_select([['AnnualRank (default)', ''], ['CollectionRank', 'CollectionRank']], annual_rank.type), include_blank: false %>
  </div>
  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :rank %>
    <%= form.number_field :rank %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>

  <div class="field">
    <%= form.label :rank_artist %>
    <%= form.text_field :rank_artist %>
  </div>

  <div class="field">
    <%= form.label :rank_track %>
    <%= form.text_field :rank_track %>
  </div>

  <div class="field">
    <%= form.label :rank_album %>
    <%= form.text_field :rank_album %>
  </div>

  <div class="field">
    <%= form.label :rank_listened %>
    <%= form.label :rank_listened, 'Yes', :value => 'true' %>
    <%= form.radio_button :rank_listened, true %>
    <%= form.label :rank_listened, 'No', :value => 'false' %>
    <%= form.radio_button :rank_listened, false, :checked => true %>
  </div>

  <div class="field">
    <%= form.label :rank_genre %>
    <%= form.text_field :rank_genre %>
  </div> 

  <div class="field">
    <%= form.label :alt_collection %>
    <%= form.check_box :alt_collection %>
  </div>

  <div class="field">
    <%= form.label :to_download %>
    <%= form.select :to_download, @to_download_choices, selected: @annual_rank.to_download || nil %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
