<p id="notice"><%= notice %></p>

<h1>Annual Ranks</h1>

<%= link_to %>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Rank</th>
      <th>Source</th>
      <th>Rank artist</th>
      <th>Rank track</th>
      <th>Rank album</th>
      <th>Listened</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annual_ranks.each do |annual_rank| %>
      <tr>
        <td><%= annual_rank.year %></td>
        <td><%= annual_rank.rank %></td>
        <td><%= annual_rank.source %></td>
        <td><%= annual_rank.rank_artist %></td>
        <td><%= annual_rank.rank_track %></td>
        <td><%= annual_rank.rank_album %></td>
        <td><%= annual_rank.rank_listened %></td>
        <td><%= link_to 'Show', annual_rank %></td>
        <td><%= link_to 'Edit', edit_annual_rank_path(annual_rank) %></td>
        <td><%= link_to 'Destroy', annual_rank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if !@annual_ranks.nil? %>
  <%= will_paginate @annual_ranks %>
<% end %>
<br>

<%= link_to 'New Annual Rank', new_annual_rank_path %>
