<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @annual_rank.year %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @annual_rank.rank %>
</p>

<p>
  <strong>Source:</strong>
  <%= @annual_rank.source %>
</p>

<p>
  <strong>Rank artist:</strong>
  <%= @annual_rank.rank_artist %>
</p>

<p>
  <strong>Rank track:</strong>
  <%= @annual_rank.rank_track %>
</p>

<p>
  <strong>Rank album:</strong>
  <%= @annual_rank.rank_album %>
</p>

<p>
  <strong>Rank listened:</strong>
  <%= @annual_rank.rank_listened %>
</p>

<p>
  <strong>Rank genre:</strong>
  <%= @annual_rank.rank_genre %>
</p>

<p>
  <strong>Alt collection:</strong>
  <%= @annual_rank.alt_collection %>
</p>

<p>
  <strong>To Download:</strong>
  <%= @annual_rank.to_download %>
</p>

<%= link_to 'Edit', edit_annual_rank_path(@annual_rank) %> |
<%= link_to 'Back', annual_ranks_path %>
