<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @annual_rank.year %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @annual_rank.rank %>
</p>

<p>
  <strong>Source:</strong>
  <%= @annual_rank.source %>
</p>

<p>
  <strong>Rank artist:</strong>
  <%= @annual_rank.rank_artist %>
</p>

<p>
  <strong>Rank track:</strong>
  <%= @annual_rank.rank_track %>
</p>

<p>
  <strong>Rank album:</strong>
  <%= @annual_rank.rank_album %>
</p>

<%= link_to 'Edit', edit_annual_rank_path(@annual_rank) %> |
<%= link_to 'Back', annual_ranks_path %>
