<h1>Music Scraper</h1>

<%= link_to 'Artist List', artists_path %>

<!-- Paragons -->
<!-- Alternative -->

<div class="accordion" id="accordionArtistList">

  <% if !Artist.alternative_paragon_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#alternativeParagonPoplistDiv" aria-expanded="false" aria-controls="alternativeParagonPoplistDiv">Alternative Paragons Pop List</button>
      <div class="collapse" id='alternativeParagonPoplistDiv'>
        <ul>
        <% Artist.alternative_paragon_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.alternative_paragon_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#alternativeParagonsGreatestListDiv" aria-expanded="false" aria-controls="alternativeParagonsGreatestListDiv">Alternative Paragons Greatest List</button>
      <div class="collapse" id='alternativeParagonsGreatestListDiv'>
        <ul>
        <% Artist.alternative_paragon_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.alternative_paragon_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#alternativeParagonsAlbumListDiv" aria-expanded="false" aria-controls="alternativeParagonsAlbumListDiv">Alternative Paragons Album List</button>
      <div class="collapse" id='alternativeParagonsAlbumListDiv'>
        <ul>
        <% Artist.alternative_paragon_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Classic Rock -->

  <% if !Artist.classicrock_paragon_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#classicRockParagonsPopListDiv" aria-expanded="false" aria-controls="classicRockParagonsPopListDiv">Classic Rock Paragons Pop List</button>
      <div class="collapse" id='classicRockParagonsPopListDiv'>
        <ul>
        <% Artist.classicrock_paragon_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.classicrock_paragon_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#classicRockParagonsGreatestListDiv" aria-expanded="false" aria-controls="classicRockParagonsGreatestListDiv">Classic Rock Paragons Greatest List</button>
      <div class="collapse" id='classicRockParagonsGreatestListDiv'>
        <ul>
        <% Artist.classicrock_paragon_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.classicrock_paragon_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#classicRockParagonsAlbumListDiv" aria-expanded="false" aria-controls="classicRockParagonsAlbumListDiv">Classic Rock Paragons Album List</button>
      <div class="collapse" id='classicRockParagonsAlbumListDiv'>
        <ul>
        <% Artist.classicrock_paragon_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- 80s Pop -->

  <% if !Artist.a80s_paragon_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#a80sPopParagonsPopListDiv" aria-expanded="false" aria-controls="a80sPopParagonsPopListDiv">80s Pop Paragons Pop List</button>
      <div class="collapse" id='a80sPopParagonsPopListDiv'>
        <ul>
        <% Artist.a80s_paragon_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.a80s_paragon_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#a80sPopParagonsGreatestListDiv" aria-expanded="false" aria-controls="a80sPopParagonsGreatestListDiv">80s Pop Paragons Greatest List</button>
      <div class="collapse" id='a80sPopParagonsGreatestListDiv'>
        <ul>
        <% Artist.a80s_paragon_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.a80s_paragon_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#a80sPopParagonsAlbumListDiv" aria-expanded="false" aria-controls="a80sPopParagonsAlbumListDiv">80s Pop Paragons Album List</button>
      <div class="collapse" id='a80sPopParagonsAlbumListDiv'>
        <ul>
        <% Artist.a80s_paragon_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Blues -->

  <% if !Artist.blues_paragon_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bluesParagonsPopListDiv" aria-expanded="false" aria-controls="bluesParagonsPopListDiv">Blues Paragon Pop List</button>
      <div class="collapse" id='bluesParagonsPopListDiv'>
        <ul>
        <% Artist.blues_paragon_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.blues_paragon_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bluesParagonsGreatestListDiv" aria-expanded="false" aria-controls="bluesParagonsGreatestListDiv">Blues Paragon Greatest List</button>
      <div class="collapse" id='bluesParagonsGreatestListDiv'>
        <ul>
        <% Artist.blues_paragon_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.blues_paragon_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bluesParagonsAlbumListDiv" aria-expanded="false" aria-controls="bluesParagonsAlbumListDiv">Blues Paragon Album List</button>
      <div class="collapse" id='bluesParagonsAlbumListDiv'>
        <ul>
        <% Artist.blues_paragon_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Punk -->

  <% if !Artist.punk_paragon_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#punkParagonsPopListDiv" aria-expanded="false" aria-controls="punkParagonsPopListDiv">Punk Paragon Pop List</button>
      <div class="collapse" id='punkParagonsPopListDiv'>
        <ul>
        <% Artist.punk_paragon_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.punk_paragon_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#punkParagonsGreatestListDiv" aria-expanded="false" aria-controls="punkParagonsGreatestListDiv">Punk Paragon Greatest List</button>
      <div class="collapse" id='punkParagonsGreatestListDiv'>
        <ul>
        <% Artist.punk_paragon_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.punk_paragon_album.empty? %>
  <div class="accorion-item">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#punkParagonsAlbumListDiv" aria-expanded="false" aria-controls="punkParagonsAlbumListDiv">Punk Paragon Album List</button>
    <div class="collapse" id='punkParagonsAlbumListDiv'>
      <ul>
      <% Artist.punk_paragon_album.each do |ap| %>
        <li><%= link_to ap.name, edit_artist_path(ap) %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

    <!-- Metal -->

  <% if !Artist.metal_paragon_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#metalParagonsPopListDiv" aria-expanded="false" aria-controls="metalParagonsPopListDiv">Metal Paragon Pop List</button>
      <div class="collapse" id='metalParagonsPopListDiv'>
        <ul>
        <% Artist.metal_paragon_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.metal_paragon_greatestlist.empty? %>
  <div class="accorion-item">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#metalParagonsGreatestListDiv" aria-expanded="false" aria-controls="metalParagonsGreatestListDiv">Metal Paragon Greatest List</button>
    <div class="collapse" id='metalParagonsGreatestListDiv'>
      <ul>
      <% Artist.metal_paragon_greatestlist.each do |ap| %>
        <li><%= link_to ap.name, edit_artist_path(ap) %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <% if !Artist.metal_paragon_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#metalParagonsAlbumListDiv" aria-expanded="false" aria-controls="metalParagonsAlbumListDiv">Metal Paragon Album List</button>
      <div class="collapse" id='metalParagonsAlbumListDiv'>
        <ul>
        <% Artist.metal_paragon_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Jam Bands -->

  <% if !Artist.jambands_paragon_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#jamBandParagonsPopListDiv" aria-expanded="false" aria-controls="jamBandParagonsPopListDiv">Jam Bands Paragon Pop List</button>
      <div class="collapse" id='jamBandParagonsPopListDiv'>
        <ul>
        <% Artist.jambands_paragon_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.jambands_paragon_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#jamBandParagonsGreatestListDiv" aria-expanded="false" aria-controls="jamBandParagonsGreatestListDiv">Jam Bands Paragon Greatest List</button>
      <div class="collapse" id='jamBandParagonsGreatestListDiv'>
        <ul>
        <% Artist.jambands_paragon_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.jambands_paragon_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#jamBandParagonsAlbumListDiv" aria-expanded="false" aria-controls="jamBandParagonsAlbumListDiv">Jam Bands Paragon Album List</button>
      <div class="collapse" id='jamBandParagonsAlbumListDiv'>
        <ul>
        <% Artist.jambands_paragon_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Rock N Roll -->

  <% if !Artist.rocknroll_paragon_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#rockNRollBandParagonsPopListDiv" aria-expanded="false" aria-controls="rockNRollBandParagonsPopListDiv">Rock N Roll Paragon Pop List</button>
      <div class="collapse" id='rockNRollBandParagonsPopListDiv'>
        <ul>
        <% Artist.rocknroll_paragon_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.rocknroll_paragon_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#rockNRollBandParagonsGreatestListDiv" aria-expanded="false" aria-controls="rockNRollBandParagonsGreatestListDiv">Rock N Roll Paragon Greatest List</button>
      <div class="collapse" id='rockNRollBandParagonsGreatestListDiv'>
        <ul>
        <% Artist.rocknroll_paragon_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.rocknroll_paragon_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#rockNRollBandParagonsAlbumListDiv" aria-expanded="false" aria-controls="rockNRollBandParagonsAlbumListDiv">Rock N Roll Paragon Album List</button>
      <div class="collapse" id='rockNRollBandParagonsAlbumListDiv'>
        <ul>
        <% Artist.rocknroll_paragon_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Soul R&B -->

  <% if !Artist.soulrb_paragon_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#soulRBParagonsPopListDiv" aria-expanded="false" aria-controls="soulRBParagonsPopListDiv">Soul S&B Paragon Pop List</button>
      <div class="collapse" id='soulRBParagonsPopListDiv'>
        <ul>
        <% Artist.soulrb_paragon_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.soulrb_paragon_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#soulRBParagonsGreatestListDiv" aria-expanded="false" aria-controls="soulRBParagonsGreatestListDiv">Soul S&B Paragon Greatest List</button>
      <div class="collapse" id='soulRBParagonsGreatestListDiv'>
        <ul>
        <% Artist.soulrb_paragon_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.soulrb_paragon_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#soulRBParagonsAlbumListDiv" aria-expanded="false" aria-controls="soulRBParagonsAlbumListDiv">Soul S&B Paragon Album List</button>
      <div class="collapse" id='soulRBParagonsAlbumListDiv'>
        <ul>
        <% Artist.soulrb_paragon_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Disco -->

  <% if !Artist.disco_paragon_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#discoParagonsPopListDiv" aria-expanded="false" aria-controls="discoParagonsPopListDiv">Disco Paragon Pop List</button>
      <div class="collapse" id='discoParagonsPopListDiv'>
        <ul>
        <% Artist.disco_paragon_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.disco_paragon_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#discoParagonsGreatestListDiv" aria-expanded="false" aria-controls="discoParagonsGreatestListDiv">Disco Paragon Greatest List</button>
      <div class="collapse" id='discoParagonsGreatestListDiv'>
        <ul>
        <% Artist.disco_paragon_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.disco_paragon_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#discoParagonsAlbumListDiv" aria-expanded="false" aria-controls="discoParagonsAlbumListDiv">Disco Paragon Album List</button>
      <div class="collapse" id='discoParagonsAlbumListDiv'>
        <ul>
        <% Artist.disco_paragon_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Reggae -->

  <% if !Artist.reggae_paragon_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#reggaeParagonsPopListDiv" aria-expanded="false" aria-controls="reggaeParagonsPopListDiv">Reggae Paragon Pop List</button>
      <div class="collapse" id='reggaeParagonsPopListDiv'>
        <ul>
        <% Artist.reggae_paragon_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.reggae_paragon_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#reggaeParagonsGreatestListDiv" aria-expanded="false" aria-controls="reggaeParagonsGreatestListDiv">Reggae Paragon Greatest List</button>
      <div class="collapse" id='reggaeParagonsGreatestListDiv'>
        <ul>
        <% Artist.reggae_paragon_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.reggae_paragon_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#reggaeParagonsAlbumListDiv" aria-expanded="false" aria-controls="reggaeParagonsAlbumListDiv">Reggae Paragon Album List</button>
      <div class="collapse" id='reggaeParagonsAlbumListDiv'>
        <ul>
        <% Artist.reggae_paragon_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Focus -->
    <!-- Alternative -->

  <% if !Artist.alternative_focus_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#alternativeFocusPopListDiv" aria-expanded="false" aria-controls="alternativeFocusPopListDiv">Alternative Focus Pop List</button>
      <div class="collapse" id='alternativeFocusPopListDiv'>
        <ul>
        <% Artist.alternative_focus_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Current -->
    <!-- Alternative -->

  <% if !Artist.alternative_current_poplist_a_d.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#alternativeCurrentPopListABDiv" aria-expanded="false" aria-controls="alternativeCurrentPopListABDiv">Alternative Current Pop List A-D</button>
      <div class="collapse" id='alternativeCurrentPopListABDiv'>
        <ul>
          <% Artist.alternative_current_poplist_a_d.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.alternative_current_greatestlist_a_d.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#alternativeCurrentGreatestListABDiv" aria-expanded="false" aria-controls="alternativeCurrentGreatestListABDiv">Alternative Current Greatest List A-D</button>
      <div class="collapse" id='alternativeCurrentGreatestListABDiv'>
        <ul>
        <% Artist.alternative_current_greatestlist_a_d.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.alternative_current_poplist_e_k.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#alternativeCurrentPopListEKDiv" aria-expanded="false" aria-controls="alternativeCurrentPopListEKDiv">Alternative Current Pop List E-K</button>
      <div class="collapse" id='alternativeCurrentPopListEKDiv'>
        <ul>
        <% Artist.alternative_current_poplist_e_k.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.alternative_current_greatestlist_e_k.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#alternativeCurrentGreatestListEKDiv" aria-expanded="false" aria-controls="alternativeCurrentGreatestListEKDiv">Alternative Current Greatest List E-K</button>
      <div class="collapse" id='alternativeCurrentGreatestListEKDiv'>
        <ul>
        <% Artist.alternative_current_greatestlist_e_k.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.alternative_current_poplist_l_r.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#alternativeCurrentPopListLRDiv" aria-expanded="false" aria-controls="alternativeCurrentPopListLRDiv">Alternative Current Pop List L-R</button>
      <div class="collapse" id='alternativeCurrentPopListLRDiv'>
        <ul>
        <% Artist.alternative_current_poplist_l_r.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.alternative_current_greatestlist_l_r.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#alternativeCurrentGreatestListLRDiv" aria-expanded="false" aria-controls="alternativeCurrentGreatestListLRDiv">Alternative Current Greatest List L-R</button>
      <div class="collapse" id='alternativeCurrentGreatestListLRDiv'>
        <ul>
        <% Artist.alternative_current_greatestlist_l_r.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.alternative_current_poplist_s_z.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#alternativeCurrentPopListSZDiv" aria-expanded="false" aria-controls="alternativeCurrentPopListSZDiv">Alternative Current Pop List S-Z & #</button>
      <div class="collapse" id='alternativeCurrentPopListSZDiv'>
        <ul>
        <% Artist.alternative_current_poplist_s_z.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.alternative_current_greatestlist_s_z.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#alternativeCurrentGreatestListSZDiv" aria-expanded="false" aria-controls="alternativeCurrentGreatestListSZDiv">Alternative Current Greatest List S-Z & #</button>
      <div class="collapse" id='alternativeCurrentGreatestListSZDiv'>
        <ul>
        <% Artist.alternative_current_greatestlist_s_z.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.alternative_current_album.empty? %>
    <div class="accorion-item">
      <buttoAlbumtton" type="button" data-Albumdata-bs-target="#alternativeCurrentAlbumDiv" aria-expanded="false" aria-controls="alternativeCurrentAlbumDiv">Alternative Current Album</button>
      <div class="collapse" id='alternativeCurrentAlbumDiv'>
        <ul>
        <% Artist.alternative_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


    <!-- Classic Rock -->

  <% if !Artist.classicrock_current_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#classicRockCurrentPopListDiv" aria-expanded="false" aria-controls="classicRockCurrentPopListDiv">Classic Rock Current Pop List</button>
      <div class="collapse" id='classicRockCurrentPopListDiv'>
        <ul>
        <% Artist.classicrock_current_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.classicrock_current_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#classicRockCurrentGreatestListDiv" aria-expanded="false" aria-controls="classicRockCurrentGreatestListDiv">Classic Rock Current Greatest List</button>
      <div class="collapse" id='classicRockCurrentGreatestListDiv'>
        <ul>
        <% Artist.classicrock_current_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.classicrock_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#classicRockCurrentAlbumListDiv" aria-expanded="false" aria-controls="classicRockCurrentAlbumListDiv">Classic Rock Current Album List</button>
      <div class="collapse" id='classicRockCurrentAlbumListDiv'>
        <ul>
        <% Artist.classicrock_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- 80s Pop -->

  <% if !Artist.a80s_current_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#a80sCurrentPopListDiv" aria-expanded="false" aria-controls="a80sCurrentPopListDiv">80s Pop Current Pop List</button>
      <div class="collapse" id='a80sCurrentPopListDiv'>
        <ul>
        <% Artist.a80s_current_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.a80s_current_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#a80sCurrentGreatestListDiv" aria-expanded="false" aria-controls="a80sCurrentGreatestListDiv">80s Pop Current Greatest List</button>
      <div class="collapse" id='a80sCurrentGreatestListDiv'>
        <ul>
        <% Artist.a80s_current_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.a80s_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#a80sCurrentAlbumListDiv" aria-expanded="false" aria-controls="a80sCurrentAlbumListDiv">80s Pop Current Album List</button>
      <div class="collapse" id='a80sCurrentAlbumListDiv'>
        <ul>
        <% Artist.a80s_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Blues -->

  <% if !Artist.blues_current_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bluesCurrentPopListDiv" aria-expanded="false" aria-controls="bluesCurrentPopListDiv">Blues Current Pop List</button>
      <div class="collapse" id='bluesCurrentPopListDiv'>
        <ul>
        <% Artist.blues_current_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.blues_current_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bluesCurrentGreatestListDiv" aria-expanded="false" aria-controls="bluesCurrentGreatestListDiv">Blues Current Greatest List</button>
      <div class="collapse" id='bluesCurrentGreatestListDiv'>
        <ul>
        <% Artist.blues_current_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.blues_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#bluesCurrentAlbumListDiv" aria-expanded="false" aria-controls="bluesCurrentAlbumListDiv">Blues Current Album List</button>
      <div class="collapse" id='bluesCurrentAlbumListDiv'>
        <ul>
        <% Artist.blues_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Punk -->

  <% if !Artist.punk_current_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#punkCurrentPopListDiv" aria-expanded="false" aria-controls="punkCurrentPopListDiv">Punk Current Pop List</button>
      <div class="collapse" id='punkCurrentPopListDiv'>
        <ul>
        <% Artist.punk_current_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.punk_current_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#punkCurrentGreatestListDiv" aria-expanded="false" aria-controls="punkCurrentGreatestListDiv">Punk Current Greatest List</button>
      <div class="collapse" id='punkCurrentGreatestListDiv'>
        <ul>
        <% Artist.punk_current_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.punk_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#punkCurrentAlbumListDiv" aria-expanded="false" aria-controls="punkCurrentAlbumListDiv">Punk Current Album List</button>
      <div class="collapse" id='punkCurrentAlbumListDiv'>
        <ul>
        <% Artist.punk_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Metal current -->

  <% if !Artist.metal_current_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#metalCurrentPopListDiv" aria-expanded="false" aria-controls="metalCurrentPopListDiv">Metal Current Pop List</button>
      <div class="collapse" id='metalCurrentPopListDiv'>
        <ul>
        <% Artist.metal_current_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.metal_current_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#metalCurrentGreatestListDiv" aria-expanded="false" aria-controls="metalCurrentGreatestListDiv">Metal Current Greatest List</button>
      <div class="collapse" id='metalCurrentGreatestListDiv'>
        <ul>
        <% Artist.metal_current_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.metal_current_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#metalCurrentAlbumListDiv" aria-expanded="false" aria-controls="metalCurrentAlbumListDiv">Metal Current Album List</button>
      <div class="collapse" id='metalCurrentAlbumListDiv'>
        <ul>
        <% Artist.metal_current_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Jam Bands -->

  <% if !Artist.jambands_current_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#jamBandsCurrentPopListDiv" aria-expanded="false" aria-controls="jamBandsCurrentPopListDiv">Jam Bands Current Pop List</button>
      <div class="collapse" id='jamBandsCurrentPopListDiv'>
        <ul>
        <% Artist.jambands_current_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
        <ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.jambands_current_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#jamBandsCurrentGreatestListDiv" aria-expanded="false" aria-controls="jamBandsCurrentGreatestListDiv">Jam Bands Current Greatest List</button>
      <div class="collapse" id='jamBandsCurrentGreatestListDiv'>
        <ul>
        <% Artist.jambands_current_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.jambands_current_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#jamBandsCurrentAlbumListDiv" aria-expanded="false" aria-controls="jamBandsCurrentAlbumListDiv">Jam Bands Current Album List</button>
      <div class="collapse" id='jamBandsCurrentAlbumListDiv'>
        <ul>
        <% Artist.jambands_current_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Rock N Roll -->

  <% if !Artist.rocknroll_current_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#rockNRollCurrentPopListDiv" aria-expanded="false" aria-controls="rockNRollCurrentPopListDiv">Rock N Roll Current Pop List</button>
      <div class="collapse" id='rockNRollCurrentPopListDiv'>
        <ul>
        <% Artist.rocknroll_current_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
        <ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.rocknroll_current_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#rockNRollCurrentGreatestListDiv" aria-expanded="false" aria-controls="rockNRollCurrentGreatestListDiv">Rock N Roll Current Greatest List</button>
      <div class="collapse" id='rockNRollCurrentGreatestListDiv'>
        <ul>
        <% Artist.rocknroll_current_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.rocknroll_current_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#rockNRollCurrentAlbumListDiv" aria-expanded="false" aria-controls="rockNRollCurrentAlbumListDiv">Rock N Roll Current Album List</button>
      <div class="collapse" id='rockNRollCurrentAlbumListDiv'>
        <ul>
        <% Artist.rocknroll_current_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Soul R&B -->

  <% if !Artist.soulrb_current_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#soulRBCurrentPopListDiv" aria-expanded="false" aria-controls="soulRBCurrentPopListDiv">Soul R&B Current Pop List</button>
      <div class="collapse" id='soulRBCurrentPopListDiv'>
        <ul>
        <% Artist.soulrb_current_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
        <ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.soulrb_current_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#soulRBCurrentGreatestListDiv" aria-expanded="false" aria-controls="soulRBCurrentGreatestListDiv">Soul R&B Current Greatest List</button>
      <div class="collapse" id='soulRBCurrentGreatestListDiv'>
        <ul>
        <% Artist.soulrb_current_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.soulrb_current_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#soulRBCurrentAlbumListDiv" aria-expanded="false" aria-controls="soulRBCurrentAlbumListDiv">Soul R&B Current Album List</button>
      <div class="collapse" id='soulRBCurrentAlbumListDiv'>
        <ul>
        <% Artist.soulrb_current_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Disco -->

  <% if !Artist.disco_current_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#discoCurrentPopListDiv" aria-expanded="false" aria-controls="discoCurrentPopListDiv">Disco Current Pop List</button>
      <div class="collapse" id='discoCurrentPopListDiv'>
        <ul>
        <% Artist.disco_current_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.disco_current_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#discoCurrentGreatestListDiv" aria-expanded="false" aria-controls="discoCurrentGreatestListDiv">Disco Current Greatest List</button>
      <div class="collapse" id='discoCurrentGreatestListDiv'>
        <ul>
        <% Artist.disco_current_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.disco_current_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#discoCurrentAlbumListDiv" aria-expanded="false" aria-controls="discoCurrentAlbumListDiv">Disco Current Album List</button>
      <div class="collapse" id='discoCurrentAlbumListDiv'>
        <ul>
        <% Artist.disco_current_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <!-- Reggae -->

  <% if !Artist.reggae_current_poplist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#reggaeCurrentPopListDiv" aria-expanded="false" aria-controls="reggaeCurrentPopListDiv">Reggae Current Pop List</button>
      <div class="collapse" id='reggaeCurrentPopListDiv'>
        <ul>
        <% Artist.reggae_current_poplist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.reggae_current_greatestlist.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#reggaeCurrentGreatestListDiv" aria-expanded="false" aria-controls="reggaeCurrentGreatestListDiv">Reggae Current Greatest List</button>
      <div class="collapse" id='reggaeCurrentGreatestListDiv'>
        <ul>
        <% Artist.reggae_current_greatestlist.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !Artist.reggae_current_current_album.empty? %>
    <div class="accorion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#reggaeCurrentAlbumListDiv" aria-expanded="false" aria-controls="reggaeCurrentAlbumListDiv">Reggae Current Album List</button>
      <div class="collapse" id='reggaeCurrentAlbumListDiv'>
        <ul>
        <% Artist.reggae_current_current_album.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

</div>
