
  
  <% if !scope_item.empty? %>

    <% accord_tags = accord_tags.downcase.camelize(:lower) %>
    <% accord_tags[0] === "8" ? accord_tag = ("a" + accord_tags).gsub(/[^0-9-a-z]/i, '') : accord_tag = accord_tags.gsub(/[^0-9-a-z]/i, '') %>
    <% id_accord_tags = "#" + accord_tag %>
    <% title = accord_tags.underscore.titleize %>

    <div class="accordion-item">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="<%= id_accord_tags %>" aria-expanded="false" aria-controls="<%= accord_tag %>"><%= title %></button>
      <div class="collapse" id="<%= accord_tag %>">
        <ul>
        <% scope_item.each do |ap| %>
          <li><%= link_to ap.name, edit_artist_path(ap) %></li>
        <% end %>
        </ul>
      </div>
    </div>

  <% end %>