

<%= form_for(@artist ? [@artist, @album] : @album) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :album_name %>
    <%= form.text_field :album_name %>
  </div>

  <% if @artist %>
    <div class="field">
      <%= form.hidden_field :artist_id %>
    </div>
  <% else %>
    <div class="field">
      <%= form.label :artist_id %>
      <% top_artist_names = ["Various Artists", "Tribute Artists", "Original Soundtrack Artists", "VAR Ongoing Playlist", "VAR Static Playlist"] %>
      <% top_artists = Artist.where(name: top_artist_names).order(:name) %>
      <% other_artists = Artist.where.not(name: top_artist_names).order(:name) %>
      <% all_artists = top_artists + other_artists %>
      <%= form.collection_select :artist_id, all_artists, :id, :name, include_blank: true %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mp3_only %>
    <%= form.check_box :mp3_only %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>


  <div class="field">
    <%= form.label :album_queue %>
    <%= form.select :album_queue, @album_queue_choices %>
  </div>  

  <div class="field">
    <%= form.label :album_type %>
    <%= form.select :album_type, @album_type_choices %>
  </div>

  <div class="field">
    <%= form.label :album_download %>
    <%= form.select :album_download, @album_download_choices %>
  </div>

  <div class="field">
    <%= form.label :download_status %>
    <%= form.select :download_status, @download_status_choices %>
  </div>

  <div class="field">
    <%= form.label :listen %>
    <%= form.select :listen, @listen_choices, selected: @album.listen || "Now" %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :current_album_song %>
    <%= form.text_field :current_album_song %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
