

<%= form_for [@artist, @album] do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :album_name %>
    <%= form.text_field :album_name %>
  </div>

  <div class="field">
    <%= form.hidden_field :artist_id %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :album_queue %>
    <%= form.select :album_queue, @album_queue %>
  </div>  

  <div class="field">
    <%= form.label :album_genre %>
    <%= form.text_field :album_genre %>
  </div>

  <div class="field">
    <%= form.label :album_priority %>
    <%= form.text_field :album_priority %>
  </div>

  <div class="field">
    <%= form.label :album_type %>
    <%= form.text_field :album_type %>
  </div>

  <div class="field">
    <%= form.label :album_complete %>
    <%= form.text_field :album_complete %>
  </div>

  <div class="field">
    <%= form.label :album_download %>
    <%= form.text_field :album_download %>
  </div>

  <div class="field">
    <%= form.label :current_album_song %>
    <%= form.text_field :current_album_song %>
  </div>

  <div class="field">
    <%= form.label :album_version %>
    <%= form.text_field :album_version %>
  </div>

  <div class="field">
    <%= form.label :download_verified %>
    <%= form.text_field :download_verified %>
  </div>

  <div class="field">
    <%= form.label :download_status %>
    <%= form.text_field :download_status %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label :normalized_tagged %>
    <%= form.check_box :normalized_tagged %>
  </div>

  <div class="field">
    <%= form.label :compiliation %>
    <%= form.check_box :compiliation %>
  </div>

  <div class="field">
    <%= form.label :album_sub_genre1 %>
    <%= form.text_field :album_sub_genre1 %>
  </div>

  <div class="field">
    <%= form.label :album_sub_genre2 %>
    <%= form.text_field :album_sub_genre2 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
