<p id="notice"><%= notice %></p>

<h1>Albums</h1>

<% if current_user  %>
  <%= link_to 'Artists', artists_path %> |
  <%= link_to 'Home', root_path %> <br>
<% end %>

<table>
  <thead>
    <tr>
      <th>Album name</th>
      <th>Year</th>
      <th>Album queue</th>
      <th>Album type</th>
      <th>Album download</th>
      <th>Download status</th>
      <th>Listen</th>
      <th>Rating</th>
      <th>Current album song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= link_to album.album_name, album, method: :get %></td>
        <td><%= album.year %></td>
        <td><%= album.album_queue %></td>
        <td><%= album.album_type %></td>
        <td><%= album.album_download %></td>
        <td><%= album.download_status %></td>
        <td><%= album.listen %></td>
        <td><%= album.rating %></td>
        <td><%= album.current_album_song %></td>
        <td><%= link_to 'E', edit_album_path(album) %></td>
        <td><%= link_to 'D', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_album_path %>
