<p id="notice"><%= notice %></p>

<p>
  <strong>Album name:</strong>
  <%= @album.album_name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>Album type:</strong>
  <%= @album.album_type %>
</p>

<p>
  <strong>Album download:</strong>
  <%= @album.album_download %>
</p>

<p>
  <strong>Current album song:</strong>
  <%= @album.current_album_song %>
</p>

<p>
  <strong>Album version:</strong>
  <%= @album.album_version %>
</p>

<p>
  <strong>Download status:</strong>
  <%= @album.download_status %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @album.rating %>
</p>

<% if current_user %>
  <%= link_to 'Edit', edit_album_path(@album) %> |
  <%= link_to 'Artist', artist_path(@artist) %> |
<% end %>
<%= link_to 'Back', :back %>

